<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.kebiao.viewer.core.reminder.dispatch.ReminderAlarmReceiver"
            android:exported="false" />
    </application>
</manifest>
